<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers>
            <!-- Loại bỏ DjangoHandler được kế thừa từ dự án Django cha để chạy HTML/PHP bình thường -->
            <remove name="DjangoHandler" />
        </handlers>
    </system.webServer>
</configuration>
